 body {
     box-sizing: border-box;
     font-family: montserrat, sans-serif;
 }


 :root {
     --white:#FFFFFF;
     --red:#ff0000;
     --black:#000000;
     --lightgrey:#D5D5D5;
     --darkgrey:#555 ;
     --blackgrey:#29292C;
     --lightblackgrey:#2d2d30;
 }


                             /*---------------------------------
                             --------------- NAVBAR ------------
                             ---------------------------------*/

 .navbar {
     font-family: Montserrat, sans-serif;
     margin-bottom: 0;
     background-color: var(--lightblackgrey);
     border: 0;
     font-size: 11px !important;
     letter-spacing: 4px;
     opacity: 0.9;
  }


  .navbar li a, .navbar .navbar-brand { 
     color: var(--lightgrey) !important;
  }


  .navbar-nav li a:hover {
     color: var(--white) !important;
     font-weight: bolder;
     letter-spacing: 7px;
  }


  .navbar-nav li.active a {
     color:var(--red) !important;
     background-color:var(--blackgrey) !important;
     font-weight: bolder;
  }


  .navbar-default .navbar-toggle {
     border-color: transparent;
  }


  .open .dropdown-toggle {
     color: var(--white);
     background-color: var(--darkgrey) !important;
     font-weight: bolder;
     letter-spacing: 7px;
  }


  .dropdown-menu li a {
     color: var(--black) !important;
     letter-spacing: 4px !important;
  }


  .dropdown-menu li a:hover {
     background-color:var(--red) !important;
     color: var(--black) !important;
     font-weight: bolder !important;
  }


  /*  */

  .carousel-inner img {
    width: 100%;
    margin: auto;
  }